#prefix="/net/sugarman/scratch/awcheng/genomes",

geneNameDescFileNCBI="hg18/xref/Homo_sapiens.gene_info"



geneNameDescFileExtra="hg18/xref/extra_martview.p","hg18/xref/hgnc.rpt.p","hg18/xref/ensprotein_martview.p" ,"hg18/xref/extra_martview_noEntrzID.p","hg18/xref/RefSeq/refseq.p","hg18/xref/UCSC_martview.p","hg18/xref/ensembl.org.ensGeneName.p"


taxID=9606
goPubMedPrefix="mm9/xref/GoPubMed/"
geneBGOAFile="hg18/xref/geneontology.org/hs_gene_association_expanded.goa","hg18/xref/SpliceFactors/SpliceFactors.goa","hg18/xref/DAVID_Inco/DAVID_DEFAULTS/goa","hg18/xref/DAVID_Inco/PANTHER_DEFAULTS/goa"
geneGOFullFile="hg18/xref/BiNGO.a/GO_Full.gos","hg18/xref/SpliceFactors/GO_ALBERT.gos"
