#prefix="/net/coldfact/data/awcheng/genomes",
geneNameDescFileNCBI="mm9/xref/gene_info_mouse"

geneNameDescFileExtra="mm9/xref/extra_martview.p","mm9/xref/MGI_EntrezGene2.rpt.p","mm9/xref/extra_martview_protein.p","mm9/xref/extra_martview_transcript.p","mm9/xref/microarray.GPL1261_340_519_339_4134.p","mm9/xref/mm_ensGeneID_symbol.p"
taxID=10090
geneBGOAFile="mm9/xref/geneontology.org/mm_gene_association_expanded.goa",
geneGOFullFile="hg18/xref/BiNGO.a/GO_Full.gos",
goPubMedPrefix="mm9/xref/GoPubMed/"
